.bio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bio-header h1 {
  font-size: 1rem;
  color: white;
}

.criar {
  display: flex;
  align-items: center;
  background: #1f1f1f;
  padding: 8px 16px;
  border-radius: 18px;
  gap: 12px;
  cursor: pointer;
  color: #b3b3b3;
}

.criar svg, .expandir svg {
  width: 14.5px;
  height: 14.5px;
}

.bio-header-buttons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.criar:hover {
  background-color: #2a2a2a;
  color: #fff;
}

.criar svg:hover {
  fill: #fff;
}

.expandir {
  cursor: pointer;
  padding: 8px;
  color: #b3b3b3;
}

.expandir:hover {
  background: #2a2a2a;
  border-radius: 50%;
  color: #fff;
}