.albuns {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 16px;
}

.bio-item {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 16px;
  justify-content: start;
  align-items: center;
  max-height: 64px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  padding: 6px;
}

.bio-item img {
  height: 48px;
  width: 48px;
  object-fit: cover;
  border-radius: 8px;
}

.bio-item h2, .bio-item span {
  font-size: .875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.bio-item h2 {
  color: white;
}

.bio-item:hover {
  background: #2a2a2a;
  border-radius: 8px;
}